@import './fonts.css';

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Pacifico';
}

h1 {
  color: #00b16a;
  font-family: 'Pacifico';
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
  color: #00b16a;
}

h3 {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
  color: #00b16a;
}

.back {
  background-image: url(../images/social.png);
}
